{% extends "triptracker/base_generic.html" %}
{% load static %}

{% block content %}
    <div class="container dashboard-video-container">
    <div class="row">
      {% for video in videos %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <video class="card-img-top" controls preload="metadata">
              <source src="{% static video.path %}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="card-body">
              <h5 class="card-title">{{ video.title }}</h5>
              <p class="card-text">{{ video.description }}</p>
              <a href="{% static video.path %}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

