{% extends "triptracker/base_generic.html" %}
{% load static %}

{% block content %}

<!-- FAQ Container -->
<div class="container faq-page-container bg-white py-4 rounded">

    
    <!-- FAQ List -->
    <ol>
        <!-- FAQ Item 1 -->
        <li>
            <p class="faq-question">What is the Trip Tracker?</p>
            <p class="faq-answer">It is a psychedelic diary. Trip Tracker is designed to facilitate introspection and spiritual exploration by providing a private place to talk before and after psychedelic work</p>
        </li>
        
        <!-- FAQ Item 2 -->
        <li>
            <p class="faq-question">How does Trip Tracker support psychedelic explorers?</p>
            <p class="faq-answer">By providing a harm-reduction platform where you can document and revisit your psychedelic experiences, and see your evolution, first hand</p>
        </li>


        <!-- FAQ Item 3 -->
        <li>
            <p class="faq-question">Can I share my Trip Tracker recordings?</p>
            <p class="faq-answer">Of course, they are your personal recordings. However, we will not share them unless you ask our artificial intelligence tool to analyze your videos</p>
        </li>


        <!-- FAQ Item 4 -->
        <li>
            <p class="faq-question">How does Trip Tracker support new psychedelic explorers?</p>
            <p class="faq-answer">Trip Tracker is a tool for both novices and experienced users. For those new to psychedelics, it offers a safe space to express hopes, fears, and reflections</p>
        </li>


        <!-- FAQ Item 5 -->
        <li>
            <p class="faq-question">I'm interested in understanding my inner world better. How can Trip Tracker help?</p>
            <p class="faq-answer">Trip Tracker's video sessions allow you to articulate and reflect on your thoughts and feelings, fostering deeper introspection and self-awareness over time</p>
        </li>


        <!-- FAQ Item 6 -->
        <li>
            <p class="faq-question">Is Trip Tracker suitable for those using psychedelics for mental well-being?</p>
            <p class="faq-answer">Absolutely. Many users turn to psychedelics for mental well-being, and Trip Tracker provides a platform to document and reflect on these transformative experiences.</p>
        </li>


        <!-- FAQ Item 7 -->
        <li>
            <p class="faq-question">How does Trip Tracker ensure my privacy?</p>
            <p class="faq-answer">All video sessions are securely stored with bank-level encryption, and only you have access to your recordings, ensuring utmost privacy</p>
        </li>


        <!-- FAQ Item 8 -->
        <li>
            <p class="faq-question">Does Trip Tracker offer resources on integration techniques?</p>
            <p class="faq-answer">While Trip Tracker focuses on documenting experiences, Psoirée, the platform it's part of, offers guidance on how to integrate psychedelic experiences into daily life</p>
        </li>


        <!-- FAQ Item 9 -->
        <li>
            <p class="faq-question">Can I use Trip Tracker for both microdosing reflections and high dose experiences?</p>
            <p class="faq-answer">Yes, Trip Tracker is versatile, catering to reflections from all types of psychedelic experiences, from microdosing to high dose journeys</p>
        </li>


        <!-- FAQ Item 10 -->
        <li>
            <p class="faq-question">How does Trip Tracker help with spiritual exploration?</p>
            <p class="faq-answer">By giving you a platform to chronicle and reflect upon your profound and mystical experiences</p>
        </li>


        <!-- FAQ Item 11 -->
        <li>
            <p class="faq-question">What if I have a challenging trip? Can Trip Tracker help?</p>
            <p class="faq-answer">Trip Tracker is not a guide, a therapist, or a trip-sitter. However, it does provide a space to document and process all experiences, including challenging ones. The simple act of introspection can be powerful for processing tough trips</p>
        </li>


        <!-- FAQ Item 12 -->
        <li>
            <p class="faq-question">Who created the Trip Tracker?</p>
            <p class="faq-answer">Learn about the team and Psoirée partners here: https://www.psoiree.com</p>
        </li>


        <!-- FAQ Item 13 -->
        <li>
            <p class="faq-question">Can I access my Trip Tracker recordings on both mobile and desktop?</p>
            <p class="faq-answer">Yes</p>
        </li>


        <!-- FAQ Item 14 -->
        <li>
            <p class="faq-question">I'd like to learn about cultivation. Does Trip Tracker provide resources?</p>
            <p class="faq-answer">While Trip Tracker is focused on documenting experiences, Psoirée, the parent platform, offers resources on cultivation and many other psychedelic-related topics</p>
        </li>


        <!-- FAQ Item 15 -->
        <li>
            <p class="faq-question">How does Trip Tracker promote community and connection?</p>
            <p class="faq-answer">Through Psoirée, users of Trip Tracker are part of a community that values connection, shared experiences, and mutual support, enhancing the overall psychedelic journey</p>
        </li>


        <!-- FAQ Item 16 -->
        <li>
            <p class="faq-question">Are my Trip Tracker sessions analyzed for insights?</p>
            <p class="faq-answer">If you choose, our artificial intelligence avatar, via ChatGPT, can review your video session and share insights with you</p>
        </li>

        <!-- FAQ Item 17 -->
        <li>
            <p class="faq-question">Can I use Trip Tracker as a tool alongside meditation?</p>
            <p class="faq-answer">Absolutely! Many users find synergy in combining their psychedelic reflections with meditation practices, using both as tools for introspection</p>
        </li>

        <!-- FAQ Item 18 -->
        <li>
            <p class="faq-question">How does Trip Tracker support me during the "liftoff" and "landing" stages of a trip?</p>
            <p class="faq-answer">Trip Tracker provides a space for pre-trip and post-trip reflections, helping you prepare for and process your experiences whenever you want</p>
        </li>

        <!-- FAQ Item 19 -->
        <li>
            <p class="faq-question">What makes Trip Tracker unique compared to other psychedelic tools?</p>
            <p class="faq-answer">This “psychedelic video diary” is a novel offering that provides you with a rare glimpse into yourself and your personal evolution</p>
        </li>


        <!-- FAQ Item 20 -->
        <li>
            <p class="faq-question">How does Trip Tracker fit into Psoirée's mission of empowerment and access?</p>
            <p class="faq-answer">The psychedelic journey is rewarding and intimidating. Trip Tracker empowers you see your journey, and to explore the nature of consciousness</p>
        </li>
    </ol>
</div>

{% endblock %}
