{% extends "triptracker/base_generic.html" %}
{% load static %}

{% block content %}
    <div class="video_container" style="position: relative;">
        <video id="synthesiaVideo" src="{% static 'triptracker/SV_1_readyForChat.mp4' %}" autoplay loop></video>
        <video id="localVideo" width="640" height="480" autoplay style="display: none;"></video>

        <button class="button" id="startButton" onclick="playTopicVideo()">Start Chat</button>
        <button class="button" id="finishButton" style="display: none;" onclick="finishRecording()">Finish Chat</button>
    </div>

    <script>
        var mediaRecorder;
        var recordedBlobs;
        var videoElement = document.getElementById('synthesiaVideo');
        var startButton = document.getElementById('startButton');
        var finishButton = document.getElementById('finishButton');

        // Attach the event listener right after the button declaration
        finishButton.addEventListener('click', finishRecording);

        function playTopicVideo() {
            videoElement.removeAttribute('loop');
            videoElement.src = '{% static 'triptracker/SV_2_todaysTopic.mp4' %}';
            startButton.style.display = 'none'; 
            videoElement.onended = function() {
                getCameraAccess();
                document.getElementById('localVideo').style.display = 'block';
                setTimeout(startRecording, 1000);  // 1 second delay
                finishButton.style.display = 'block';
            };
        }

        function startRecording() {
            console.log("startRecording function triggered"); // debugging
            
            if (!document.getElementById('localVideo').srcObject) {
                return;
            }
    
            // Start recording using the stream from localVideo
            const stream = document.getElementById('localVideo').srcObject;

            const options = { mimeType: 'video/webm' };
            recordedBlobs = [];
            mediaRecorder = new MediaRecorder(stream, options);
            mediaRecorder.ondataavailable = (event) => {
                if (event.data && event.data.size > 0) {
                    recordedBlobs.push(event.data);
                }
            };
            mediaRecorder.start();

            finishButton.style.display = 'block';
        }


        function getCameraAccess() {
            if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
                alert('Your browser does not support getUserMedia API');
                return;
            }

            navigator.mediaDevices.getUserMedia({
                video: true,
                audio: {
                    echoCancellation: true
                }
            }).then(stream => {
                document.getElementById('localVideo').srcObject = stream;
            }).catch(error => {
                console.error('Error accessing media devices.', error);
            });
        }


        function finishRecording() {
            if (!mediaRecorder) {
                console.error("mediaRecorder is not initialized");
                return;
            }
            console.log("Finish recording function triggered"); // debugging
            mediaRecorder.stop();

            // Download the recorded video
            const blob = new Blob(recordedBlobs, { type: 'video/webm' });
            const url = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'recorded_video.webm';
            document.body.appendChild(a);
            a.click();
            setTimeout(() => {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 100);

            videoElement.removeAttribute('loop');
            videoElement.src = '{% static 'triptracker/SV_3_thanksForChatting.mp4' %}';
            document.getElementById('localVideo').style.display = 'none';
            finishButton.style.display = 'none';
            videoElement.play();
            videoElement.onended = function() {
                window.location.href = '/';
            };
        }
    
    

    </script>
{% endblock %}
