<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Tracker</title>

    {% load static %}
<link rel="stylesheet" href="{% static 'triptracker/style.css' %}">


</head>
<body>
    <div class="container">
        <video id="video" width="640" height="480" autoplay></video>
        <button class="startButton" onclick="startVideo()">Start</button>
    </div>

    <script>
        function startVideo() {
            // Generate a unique identifier for the session
            uuid = createUUID();


            const video = document.getElementById('video');

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.error('Error accessing camera:', error);
                    });
            } else {
                alert('Your browser does not support getUserMedia API');
            }
        }
    </script>
</body>
</html>
